{% extends 'base.html.twig' %}

{% block title %}Strona główna{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <h1>Hello Hello! ✅</h1>

    Strona główna wypożyczalni książek. U góry znajdziesz odnośniki do zalogowania się lub założenia konta.
</div>
{% endblock %}
